<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyun.equipment.crane.modular.device.dao.ProjectWaterDailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xingyun.equipment.crane.modular.device.model.ProjectWaterDaily">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="statistics_date" property="statisticsDate" />
        <result column="degree" property="degree" />
        <result column="amount_used" property="amountUsed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_id AS deviceId, statistics_date AS statisticsDate, degree, amount_used AS amountUsed
    </sql>

</mapper>
