<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipmentmonitor.modular.remotesetting.dao.ProjectMessageUserDeviceErrorLogMapper">


    <select id="getPageList" resultType="com.xywg.equipmentmonitor.modular.remotesetting.model.ProjectMessageUserDeviceErrorLog">
        select id,device_type as deviceType,user_ids as userIds
        from t_project_message_user_device_error_log
        where is_del=0
    </select>


</mapper>
