<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.attendance.modular.command.dao.BussDeviceCommandMapper">


    <insert id="insertBatchSqlServer">
        insert into buss_device_command(
        device_sn,type,state,process_date,description,create_date,is_del,uuid
        )values
        <foreach collection="list" separator="," item="item" index="">
            (
            #{item.deviceSn } ,
            #{item.type } ,
            #{item.state } ,
            #{item.processDate } ,
            #{item.description } ,
            #{item.createDate } ,
            #{item.isDel } ,
            #{item.uuid }
            )
        </foreach>


    </insert>

</mapper>
