<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipmentmonitor.modular.infromation.dao.ProjectLiftDataModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xywg.equipmentmonitor.modular.infromation.model.ProjectLiftDataModel">
        <id column="id" property="id" />
        <result column="specification" property="specification" />
        <result column="manufactor" property="manufactor" />
        <result column="device_no" property="deviceNo" />
        <result column="driver" property="driver" />
        <result column="device_time" property="deviceTime" />
        <result column="weight" property="weight" />
        <result column="height" property="height" />
        <result column="speed" property="speed" />
        <result column="people" property="people" />
        <result column="front_door_status" property="frontDoorStatus" />
        <result column="back_door_status" property="backDoorStatus" />
        <result column="status" property="status" />
        <result column="floor" property="floor" />
        <result column="floor_start" property="floorStart" />
        <result column="floor_end" property="floorEnd" />
        <result column="tilt_angle" property="tiltAngle" />
        <result column="key1" property="key1" />
        <result column="key2" property="key2" />
        <result column="key3" property="key3" />
        <result column="key4" property="key4" />
        <result column="key5" property="key5" />
        <result column="key6" property="key6" />
        <result column="key7" property="key7" />
        <result column="key8" property="key8" />
        <result column="key9" property="key9" />
        <result column="key10" property="key10" />
        <result column="alarm" property="alarm" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, specification,
        manufactor,
        device_no AS deviceNo,
        driver,
        device_time AS deviceTime,
        weight,
        height,
        speed,
        people,
        alarm,
        front_door_status AS frontDoorStatus,
        back_door_status AS backDoorStatus,
        status, floor, floor_start AS floorStart,
        floor_end AS floorEnd,
        tilt_angle AS tiltAngle,
        key1, key2, key3, key4, key5, key6, key7, key8, key9, key10, is_del AS isDel, create_time AS createTime, create_user AS createUser, modify_time AS modifyTime, modify_user AS modifyUser
    </sql>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        id, specification,
        manufactor,
        device_no AS deviceNo,
        driver,
        device_time AS deviceTime,
        weight,
        height,
        speed,
        people,
        alarm,
        front_door_status AS frontDoorStatus,
        back_door_status AS backDoorStatus,
        status, floor, floor_start AS floorStart,
        floor_end AS floorEnd,
        tilt_angle AS tiltAngle,
        key1, key2, key3, key4, key5, key6, key7, key8, key9, key10, is_del AS isDel, create_time AS createTime, create_user AS createUser, modify_time AS modifyTime, modify_user AS modifyUser
        from t_project_lift_data_model
        <where>
          ${ew.sqlSegment}
        </where>
    </select>
</mapper>
