<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipmentmonitor.modular.baseinfo.dao.ProjectMasterCetificateTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xywg.equipmentmonitor.modular.baseinfo.model.ProjectMasterCetificateType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="comments" property="comments" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="call_times" property="callTimes" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, comments, is_del AS isDel, create_time AS createTime, create_user AS createUser, modify_time AS modifyTime, modify_user AS modifyUser, call_times AS callTimes
    </sql>

    <select id="selectCetificateType" resultType="com.xywg.equipmentmonitor.modular.baseinfo.vo.ProjectMasterCetificateTypeVo">
        SELECT
        id AS value,name AS label
        FROM
        t_project_master_cetificate_type
        WHERE is_del = 0
    </select>
</mapper>
