<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.iot.modules.helmet.dao.ProjectHelmetAlarmMapper">
    <insert id="insertBatchByMonth">
        insert into ${tableName}(
        helmet_id,
        alarm_type,
        alarm_info,
        detail_id,
        handle_status,
        is_del,
        create_time
        )values
        <foreach collection="list" open="" close="" separator="," item="item" index="index">
            (
            #{item.helmetId},
            #{item.alarmType},
            #{item.alarmInfo},
            #{item.detailId},
            0,
            0,
            now()
            )
        </foreach>

    </insert>
</mapper>
