<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.iot.modules.helmet.dao.ProjectHelmetHealthDetailMapper">

    <!--&lt;!&ndash; 通用查询映射结果 &ndash;&gt;
    <resultMap id="BaseResultMap" type="com.xywg.iot.modules.helmet.model.ProjectCrane">
        <id column="id" property="id" />
        <result column="comments" property="comments" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="org_id" property="orgId" />
    </resultMap>

    &lt;!&ndash; 通用查询结果列 &ndash;&gt;
    <sql id="Base_Column_List">

    </sql>-->
    <insert id="insertByMonth" useGeneratedKeys="true" keyProperty="id">
        insert into ${tableName}(
            helmet_id,
            imei,
            heart_rate,
            blood_oxygen,
            temperature,
            sixAxis,
            collect_time,
            is_del,
            create_time
        )values(
            #{helmetId},
            #{imei},
            #{heartRate},
            #{bloodOxygen},
            #{temperature},
            #{sixAxis},
            now(),
            0,
            now()
        )
    </insert>

</mapper>
