<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipment.sandplay.modular.sandplay.dao.ProjectLoadometerDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xywg.equipment.sandplay.modular.sandplay.model.ProjectLoadometerDetail">
        <id column="id" property="id" />
        <result column="loadometer_id" property="loadometerId" />
        <result column="licence" property="licence" />
        <result column="material_name" property="materialName" />
        <result column="specification" property="specification" />
        <result column="gross_weight" property="grossWeight" />
        <result column="tare" property="tare" />
        <result column="net_weight" property="netWeight" />
        <result column="waybill_weight" property="waybillWeight" />
        <result column="deliver" property="deliver" />
        <result column="receiver" property="receiver" />
        <result column="transport_unit" property="transportUnit" />
        <result column="weight_user" property="weightUser" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, loadometer_id AS loadometerId, licence, material_name AS materialName, specification, gross_weight AS grossWeight, tare, net_weight AS netWeight, waybill_weight AS waybillWeight, deliver, receiver, transport_unit AS transportUnit, weight_user AS weightUser, begin_time AS beginTime, end_time AS endTime, is_del AS isDel, create_time AS createTime, create_user AS createUser, modify_time AS modifyTime, modify_user AS modifyUser
    </sql>

</mapper>
