<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipmentmonitor.modular.device.dao.AlarmInfoToWebMapper">

   <select id="getLiftAlarmList" parameterType="java.util.Map" resultType="integer">
   
   select count(a.id)
	from ${tableName} a
	inner join t_project_lift b on a.lift_id = b.id and b.is_del =0 and b.device_no=#{deviceNo}
	inner JOIN t_project_info c on b.project_id = c.id and c.uuid =#{uuid}
	where a.alarm_id in 
      <foreach collection="alarmIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
      </foreach>
   </select>
   <select id="getCraneAlarmList" parameterType="java.util.Map" resultType="integer">
   
   select count(a.id)
	from ${tableName} a
	inner join t_project_crane b on a.crane_id = b.id and b.is_del =0 and b.device_no=#{deviceNo}
	inner JOIN t_project_info c on b.project_id = c.id and c.uuid =#{uuid}
	where a.alarm_id in 
      <foreach collection="alarmIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
      </foreach>
   </select>
   
</mapper>
