<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.equipmentmonitor.modular.device.dao.ProjectWaterMeterAlarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xywg.equipmentmonitor.modular.device.model.ProjectWaterMeterAlarm">
        <id column="id" property="id" />
        <result column="electric_id" property="electricId" />
        <result column="detail_id" property="detailId" />
        <result column="alarm_id" property="alarmId" />
        <result column="alarm_info" property="alarmInfo" />
        <result column="status" property="status" />
        <result column="modify_user_name" property="modifyUserName" />
        <result column="comments" property="comments" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, electric_id AS electricId, detail_id AS detailId, alarm_id AS alarmId, alarm_info AS alarmInfo, status, modify_user_name AS modifyUserName, comments, is_del AS isDel, create_time AS createTime, create_user AS createUser, modify_time AS modifyTime, modify_user AS modifyUser
    </sql>

</mapper>
